
.aboutBox{
    /* margin-top: 5%; */
    background-color: #f8f9fa !important ;
}
.aboutContent {
 
    color:black;
    font-size: 12px;

}


.picture{
    width:50vh;
    height: auto;
    /* margin-left: 15%; */


}

.jumboContainer{
 margin-top: 10%;
 padding: 10% !important;
 background-color: #f8f9fa !important ;
   
  

}

.button {
border-radius: 50px !important;
}

.test{

  top: -150px;
  
}

.aboutHeader{
    font-family: 'Pacifico', cursive;
}