@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&family=Roboto+Mono:wght@500&display=swap');
.vertical-timeline-element-date{
    color: black !important;
}

.vertical-timeline-element-content {
    /* box-shadow: 2px #e8d3eb; */
    /* box-shadow:  none !important; */
}

.vertical-timeline-element-icon {
   /* box-shadow: none !important ; */
    width: 20px !important; 
    height: 20px !important; 
    background-color: #9370DB !important;
 
   
}

.resumeTitle{
    /* padding-top: 10%; */
    text-align: center;
    font-family: 'Pacifico', cursive;
    

}

.vertical-timeline::before{
    /* background: #E0E0E0 !important; */
}

.vertical-timeline-element-title{
    font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 24px;

}
.vertical-timeline-element-subtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.work-date{
    /* font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px; */
    font-weight: bold;
}
