
body{
    padding: 30px;
}
.homeTitle{
    margin-top: 5%;   
}

.navbar-nav > li{
    padding-left:30%;
    padding-right:30%;
  }


.homeText{
 
    text-align: center;
     color:black;
    font-family: 'Lateef', cursive;
    font-size: 5rem;
  
}



.text{
 
    margin-top: 5%;
}


