
.nav-link{   
    
    font-size: 18px !important;
    font-family: 'Quicksand', sans-serif !important;
}

Link{
    font-family: 'Quicksand', sans-serif !important;
}

.Moya{

    font-family: 'Pacifico', cursive;
    color: #9370DB ;
}